body {
	font-family: helvetica, sans-serif;
	font-size: 120%;
}

input {
	height: 15px;
	padding: 5px 5px 10px 5px;
	font-size: 20px;
	border-radius: 5px;
	border: 1px solid grey;
}

label {
	position: relative;
	top: 3px;
	width: 170px;
	float: left;
}

#wrapper {
	width: 50%;
	margin: 0 auto;
}

#submitButton {
	width: 100px;
	height: 35px;
	margin-left: 170px;
}

.form-element {
	margin-bottom: 10px;
}